.primary-blue-bg{
    background: #0033AB;
}
.top-right-ul{
    list-style-type: none
}
.top-right-ul a{
    text-decoration: none; 
    color: whitesmoke;
}
.mobile-logo{
    width: 140px;
}
.custom-img{
    width: 340px; 
    height: 320px;
}
    @media screen and (max-width: 767px) {
        .hide{
            display: none;
        }
    }